.banner {
    height: 30rem;
    background: #000000;
    background-image:radial-gradient(transparent,black ), url(../../../public/img/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}